{% extends 'base.html.twig' %}

{%  block body %}
<h1>Bienvenue sur ce site !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio ea eum incidunt laborum modi, nostrum odio quas quis, quo rerum ullam, ut. Cupiditate dolorem ea exercitationem nulla placeat sunt!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur ducimus ea est, et fugiat itaque laboriosam nisi nostrum odio quibusdam rem saepe sed sequi suscipit tempora voluptates? Eligendi, saepe!</p>
{% endblock %}